<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afauzi.peoemergency">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".utils.FirebaseHandler"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeoEmergency">
        <activity
            android:name=".screen.main.fragment.activity.home.CommentPostRandomActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.fragment.activity.home.ImagePostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.registerStep.RegisterDetailProfileFinish"
            android:exported="false" />
        <activity
            android:name=".screen.auth.registerStep.RegisterProfileStep2"
            android:exported="false" />
        <activity
            android:name=".screen.auth.registerStep.RegisterProfileDetailStep1"
            android:exported="false" />
        <activity
            android:name=".screen.main.fragment.activity.home.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.fragment.activity.home.CameraAction"
            android:exported="false" />
        <activity
            android:name=".localStorage.activity.EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".localStorage.activity.NoteActivity"
            android:exported="true" />
        <activity
            android:name=".screen.main.fragment.activity.accountProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".screen.LandingActivity"
            android:exported="true"
            android:theme="@style/Theme.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.main.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD2-ayJsneCRWSwWYTSk4l4XnlYkMB5MXE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>